<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Busca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Twistter+</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/search">Buscar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" th:href="@{/logout}" method="post"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
        </ul>
    </div>
</nav>

<h2><b>Buscar usuários</b></h2>
<div class="container-fluid">
    <form action="#" class="form-horizontal" th:action="@{/searchUsers}" th:object="${user}" method="get">
        <input type="text" name="name" th:value="${name}">
        <button type="submit">Buscar</button>
        <table class="users" th:if="${not users.empty}">
            <thead>
            <tr>
                <td>Nome</td>
                <td>Login</td>
                <td>Seguidores</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}">1</td>
                <td th:text="${user.login}">2</td>
                <td th:text="${user.followerCount}">3</td>
                <td th:if="${user.alreadyFollows == true}"><a th:href="@{unfollow/__${user.id}__}"><i>Unfollow</i></a></td>
                <td th:if="${user.alreadyFollows == false}"><a th:href="@{follow/__${user.id}__}"><i>Seguir</i></a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <a href="/">Voltar</a>
</div>
</body>
</html>